.main-content {
    position: relative;
    z-index: 2;
    display: grid;
    gap: 50px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: center;
    justify-content: center;
}


.main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 90vh; 
    overflow: hidden;
}

.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; 
}