.skills-page {
    position: relative;

    padding: 40px 40px;

    width: 90%;
    max-width: 800px;
    margin: 100px auto; 

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(218, 206, 206, 0.3);
    color: white;
}


.skills-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.section-title {
    font-size: 1.6rem;
    margin: 25px 0 12px 0;
    font-weight: 600;
}

.sub-title {
    font-size: 1.3rem;
    margin: 18px 0 10px 0;
    font-weight: 500;
}

.text-list {
    margin-left: 22px;
    padding-left: 0;
    list-style-type: disc;
    line-height: 1.6;
    font-size: 1.15rem;
    color: #e0e0e0;
}

@media (max-width: 700px) {
    .skills-page {
        width: 95%;
        padding: 120px 25px 25px; 
    }

    .skills-title {
        font-size: 2.5rem;
    }
}

