/* Menu Icon */
.menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-icon:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

/* Profile Icon */
.profile-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.TopBar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 31, 95);
    flex-wrap: wrap;
    z-index: 1000;
}

/* Dashboard title */
.dashboard-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    /* background: linear-gradient(90deg, #346a7a, #957fd6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 0 10px;
    flex: 1;
    text-align: center;
    color: rgb(170, 165, 165);
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .dashboard-title {
        font-size: 3rem;
    }

    .profile-icon {
        width: 90px;
        height: 90px;
    }

    .TopBar-container {
        padding: 0 50px;
        flex-wrap: nowrap;
    }
}

@media (max-width: 480px) {
    .menu-icon {
        width: 35px;
        height: 35px;
    }

    .profile-icon {
        width: 50px;
        height: 50px;
    }

    .dashboard-title {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .TopBar-container {
        flex-direction: column;
        padding: 10px;
    }
}
