.working-exp-container {
    padding: 40px 40px;
    margin: 100px auto;
    max-width: 650px;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    color: white;
}

.working-exp-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: white;

    text-align: center;
}

.company-name {
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

.responsibility-list {
    margin-top: 8px;
    padding-left: 20px;
    line-height: 1.6;
    color: white;
}

.responsibility-list li {
    margin-bottom: 6px;
}

.company-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.company-logo {
    width: 250px;          
    height: auto;
    object-fit: contain;

    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
    border-radius: 8px;
}
